parameters:
	ignoreErrors:
		-
			message: "#^Comparison operation \"\\<\" between int\\<2, 4\\> and 2 is always false\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/SpatialTypes/Factory/FactoryPoint.php

		-
			message: "#^Comparison operation \"\\>\" between int\\<2, 4\\> and 4 is always false\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/SpatialTypes/Factory/FactoryPoint.php

		-
			message: "#^Offset 0 on array\\{0\\: float\\|int\\|string, 1\\: float\\|int\\|string, 2\\?\\: float\\|int\\|null, 3\\?\\: DateTimeInterface\\|float\\|int\\|null\\} in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/SpatialTypes/Factory/FactoryPoint.php

		-
			message: "#^Offset 1 on array\\{0\\: float\\|int\\|string, 1\\: float\\|int\\|string, 2\\?\\: float\\|int\\|null, 3\\?\\: DateTimeInterface\\|float\\|int\\|null\\} in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/SpatialTypes/Factory/FactoryPoint.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/SpatialTypes/Types/AbstractLineString.php

		-
			message: "#^Result of && is always false\\.$#"
			count: 1
			path: ../../lib/LongitudeOne/SpatialTypes/Types/AbstractMultiPoint.php

		-
			message: "#^Parameter \\#1 \\$points of class LongitudeOne\\\\SpatialTypes\\\\Types\\\\Geometry\\\\MultiPoint constructor expects array\\<array\\{0\\: float\\|int\\|string, 1\\: float\\|int\\|string, 2\\?\\: float\\|int\\|null, 3\\?\\: DateTimeInterface\\|float\\|int\\|null\\}\\|LongitudeOne\\\\SpatialTypes\\\\Interfaces\\\\PointInterface\\>, array\\{1, 2, 3, 4\\} given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/SpatialTypes/Tests/Old/Types/Geometry/MultiPointTest.php

		-
			message: "#^Parameter \\#1 \\$points of static method LongitudeOne\\\\SpatialTypes\\\\Factory\\\\FactoryLineString\\:\\:fromArrayOfPoints\\(\\) expects array\\<LongitudeOne\\\\SpatialTypes\\\\Interfaces\\\\PointInterface\\>, array\\<int, string\\> given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/SpatialTypes/Tests/Unit/Factory/FactoryLineStringTest.php

		-
			message: "#^Parameter \\#1 \\$point of static method LongitudeOne\\\\SpatialTypes\\\\Factory\\\\FactoryPoint\\:\\:fromIndexedArray\\(\\) expects array\\{0\\: float\\|int\\|string, 1\\: float\\|int\\|string, 2\\?\\: float\\|int\\|null, 3\\?\\: DateTimeInterface\\|float\\|int\\|null\\}, array\\<int\\> given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/SpatialTypes/Tests/Unit/Factory/FactoryPointTest.php

		-
			message: "#^Parameter \\#1 \\$point of static method LongitudeOne\\\\SpatialTypes\\\\Factory\\\\FactoryPoint\\:\\:fromIndexedArray\\(\\) expects array\\{0\\: float\\|int\\|string, 1\\: float\\|int\\|string, 2\\?\\: float\\|int\\|null, 3\\?\\: DateTimeInterface\\|float\\|int\\|null\\}, array\\{1, null\\} given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/SpatialTypes/Tests/Unit/Factory/FactoryPointTest.php

		-
			message: "#^Parameter \\#1 \\$point of static method LongitudeOne\\\\SpatialTypes\\\\Factory\\\\FactoryPoint\\:\\:fromIndexedArray\\(\\) expects array\\{0\\: float\\|int\\|string, 1\\: float\\|int\\|string, 2\\?\\: float\\|int\\|null, 3\\?\\: DateTimeInterface\\|float\\|int\\|null\\}, array\\{null, 2\\} given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/SpatialTypes/Tests/Unit/Factory/FactoryPointTest.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/SpatialTypes/Tests/Unit/Factory/FactoryPointTest.php

		-
			message: "#^Parameter \\#1 \\$points of method LongitudeOne\\\\SpatialTypes\\\\Types\\\\AbstractLineString\\:\\:addPoints\\(\\) expects array\\<array\\{0\\: float\\|int\\|string, 1\\: float\\|int\\|string, 2\\?\\: float\\|int\\|null, 3\\?\\: DateTimeInterface\\|float\\|int\\|null\\}\\|LongitudeOne\\\\SpatialTypes\\\\Interfaces\\\\PointInterface\\>, array\\{'foo', 'bar'\\} given\\.$#"
			count: 1
			path: ../../tests/LongitudeOne/SpatialTypes/Tests/Unit/Types/Geometry/LineStringTest.php
